* {
    font-family: Consolas, sans-serif;
    border-color: dimgray;
    color: lightgray;
    box-sizing: border-box;
}

body {
    background-color: black;
}

main {
    text-align: center;
}

.form {
    background-color: #1f1f1f;
    display: inline-block;
}

.form label {
    color: lightgray;
}

.form input {
    width: 10cm;
    max-width: 90vw;
}

.form input, button {
    background-color: #3f3f3f;
}