body {
    background-color: black;
    font-family: Consolas, serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form label {
    color: lightgray;
}

.form input {
    background-color: #3f3f3f;
    border-color: dimgray;
    color: lightgray;
}

.form button {
    background-color: #3f3f3f;
    border-color: dimgray;
    color: lightgray;
}